In [10]:
import pandas as pd

years = [23, 24, 25]

for year in years:
    df = pd.read_csv(f"df_pre_dummies/df_{year}.csv")

    # drop_first=True to avoid collinearity during regression
    df = pd.get_dummies(df, columns=["EventType", "Surface"], prefix=["EventType", "Surface"], dtype=int, drop_first=True)

    out = df.copy()
    display(out.head())
    out.to_csv(f"df_con_dummies/df_{year}.csv")

,PlayerCode,EventId,iscritto,year,date_tournament,EventName,EventCountry,TotPrizeMoney,Same_Nationality,Rank,EventType_500,Surface_Grass,Surface_Hard
0,mv14,891,1,2023,2023-01-02,Pune,India,642735,0,50,0,0,1
1,mv14,2843,0,2023,2023-01-02,Adelaide 1,Australia,642735,0,50,0,0,1
2,mw02,891,0,2023,2023-01-02,Pune,India,642735,0,51,0,0,1
3,mw02,2843,0,2023,2023-01-02,Adelaide 1,Australia,642735,0,51,0,0,1
4,mc65,891,0,2023,2023-01-02,Pune,India,642735,0,52,0,0,1

,PlayerCode,EventId,iscritto,year,date_tournament,EventName,EventCountry,TotPrizeMoney,Same_Nationality,Rank,EventType_500,Surface_Grass,Surface_Hard
0,v812,336,1,2024,2024-01-01,Hong Kong,Hong Kong,661585,0,50,0,0,1
1,v812,339,0,2024,2024-01-01,Brisbane,Australia,661585,0,50,0,0,1
2,h997,336,0,2024,2024-01-01,Hong Kong,Hong Kong,661585,0,51,0,0,1
3,h997,339,1,2024,2024-01-01,Brisbane,Australia,661585,0,51,0,0,1
4,l987,336,0,2024,2024-01-01,Hong Kong,Hong Kong,661585,0,52,0,0,1

,PlayerCode,EventId,iscritto,year,date_tournament,EventName,EventCountry,TotPrizeMoney,Same_Nationality,Rank,EventType_500,Surface_Grass,Surface_Hard
0,s0re,8998,0,2025,2025-01-06,Adelaide,Australia,680140,0,50,0,0,1
1,s0re,301,0,2025,2025-01-06,Auckland,New Zealand,680140,0,50,0,0,1
2,bd06,8998,1,2025,2025-01-06,Adelaide,Australia,680140,0,51,0,0,1
3,bd06,301,0,2025,2025-01-06,Auckland,New Zealand,680140,0,51,0,0,1
4,mc65,8998,0,2025,2025-01-06,Adelaide,Australia,680140,0,52,0,0,1