In [ ]:
import pandas as pd

years = [23, 24, 25]

for year in years:
    df = pd.read_csv(f"df_aggiunti_pts_def/df_{year}.csv")

    # drop_first=True to avoid collinearity during regression
    df = pd.get_dummies(df, columns=["EventType", "Surface"], prefix=["EventType", "Surface"], dtype=int, drop_first=True)

    out = df.copy()
    out.to_csv(f"df_con_dummies/df_{year}.csv")

,playercode,EventId,TotPrizeMoney,Same_Nationality,iscritto,ha_pts_def,EventType_500,Surface_Grass,Surface_Hard
0,mv14,328,2385100,0,0,0,1,0,1
1,mv14,7485,690135,0,0,0,0,0,1
2,mv14,329,1818380,0,0,0,1,0,1
3,mv14,6242,779780,0,0,0,0,0,1
4,mv14,314,579320,0,0,0,0,0,0

,playercode,EventId,TotPrizeMoney,Same_Nationality,iscritto,ha_pts_def,EventType_500,Surface_Grass,Surface_Hard
0,mv14,4787,750000,0,0,1,0,0,1
1,mv14,341,579320,0,0,1,0,0,1
2,mv14,328,2385100,0,0,1,1,0,1
3,mv14,337,2470310,0,0,1,1,0,1
4,mv14,7485,690135,0,0,0,0,0,1

,playercode,EventId,TotPrizeMoney,Same_Nationality,iscritto,ha_pts_def,EventType_500,Surface_Grass,Surface_Hard
0,v812,341,596035,0,0,0,0,0,1
1,v812,5100,766715,0,1,0,0,0,1
2,v812,328,2523045,0,1,0,1,0,1
3,v812,337,2736875,0,0,0,1,0,1
4,v812,7581,1190210,0,1,0,0,0,1