In [6]:
import pandas as pd
import numpy as np

In [7]:
tornei = pd.read_csv("df_iscrizioni_player_event/df_2025.csv")
players = pd.read_csv("ranking_from_atp/atp_senza_ripetizioni_2025.csv")

#seleziona solo playercode, eventid, eventcountry
tornei = tornei[["PlayerCode", "EventId", "EventCountry"]]
players = players[["Player Id", "Nationality"]]
# df = pd.concat([tornei["PlayerCode"], tornei["EventId"], tornei["EventCountry"], players[""]])

df = tornei.merge(
    players,
    left_on="PlayerCode",
    right_on="Player Id",
    how="left"
)
# opzionale: elimina la colonna duplicata
# df = df.drop(columns=["Player Id"])

geo1 = pd.read_csv("geografia.csv")
geo2 = pd.read_csv("geografia.csv")
#df
df_primo_join = df.merge(geo1,
    left_on="EventCountry",
    right_on="name",
    how="left"
)

#nationality in upper case
df_primo_join["Nationality"] = df_primo_join["Nationality"].str.upper()


df_finale = df_primo_join[df_primo_join["Nationality"] == df_primo_join["alpha-3"]]
df_finale[["PlayerCode", "EventId", "EventCountry","Nationality"]]

     PlayerCode  EventId EventCountry Nationality
0          s0re     5014        China         CHN
1          s0re      747        China         CHN
2          s0re     7581        China         CHN
13         bd06     8994        Spain         ESP
19         bd06     1536        Spain         ESP
...         ...      ...          ...         ...
9632       b0bu     7009       France         FRA
9637       b0bu     2973       France         FRA
9639       b0bu     9162       France         FRA
9641       b0bu     7874       France         FRA
9642       b0bu     6239       France         FRA

[1142 rows x 4 columns]