In [1]:
import pandas as pd

years = [23, 24, 25]

# unisci i dataframe di tutti gli anni in un unico dataframe con le dummies

df_final = pd.DataFrame()

for year in years:
    df = pd.read_csv(f"df_pre_dummies/df_{year}_con_pts_def_FINALE.csv")

    # drop_first=True to avoid collinearity during regression
    df = pd.get_dummies(df, columns=["EventType", "Surface"], prefix=["EventType", "Surface"], dtype=int, drop_first=True)

    df_final = pd.concat([df_final, df], ignore_index=True)

display(df_final)

,playercode,EventId,iscritto,Year,date_tournament,EventName,EventCountry,TotPrizeMoney,Same_Nationality,"IFNULL(`Rank`, 601)",ha_pts_def,EventType_500,Surface_Grass,Surface_Hard
0,mv14,891,1,2023,2023-01-02,Pune,India,642735,0,50,0,0,0,1
1,mv14,2843,0,2023,2023-01-02,Adelaide 1,Australia,642735,0,50,0,0,0,1
2,mw02,891,0,2023,2023-01-02,Pune,India,642735,0,51,0,0,0,1
3,mw02,2843,0,2023,2023-01-02,Adelaide 1,Australia,642735,0,51,0,0,0,1
4,mc65,891,0,2023,2023-01-02,Pune,India,642735,0,52,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53753,n0db,496,0,2025,2025-02-10,Marseille,France,740730,0,601,0,0,0,1
53754,n0db,499,0,2025,2025-02-10,Delray Beach,"FL, U.S.A.",680140,0,601,0,0,0,1
53755,n0db,424,0,2025,2025-02-03,Dallas,"TX, U.S.A.",2760000,0,601,0,1,0,1
53756,n0db,6932,0,2025,2025-02-17,Rio de Janeiro,Brazil,2396115,0,601,0,1,0,0
53757,n0db,506,0,2025,2025-02-10,Buenos Aires,Argentina,658390,0,601,0,0,0,0

In [10]:
import statsmodels.api as sm
import numpy as np

df_final_copy = df_final.copy()

df_final_copy.rename(columns={"IFNULL(`Rank`, 601)": "Rank"}, inplace=True)

y = df_final_copy["iscritto"]

df_final_copy["TotPrizeMoney_log"] = np.log1p(df_final_copy["TotPrizeMoney"])
#df_final_copy["Rank_log"] = np.log1p(df_final_copy["Rank"])
X_fin = df_final_copy[["Rank", "TotPrizeMoney_log", "Same_Nationality", "ha_pts_def", "Surface_Grass", "Surface_Hard", "EventType_500"]]

# X_fin = df_final_copy.drop(columns=["iscritto", "playercode", "EventId", "Year", "date_tournament", "EventName", "EventCountry", "TotPrizeMoney"])

#normalizza le variabili con StandardScaler
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# X_fin = scaler.fit_transform(X)
# # rinomina le colonne con i nomi originali
# X_fin = pd.DataFrame(X_fin, columns=X.columns)

X_fin = sm.add_constant(X_fin)
model = sm.OLS(y, X_fin)
result = model.fit(clustered=True, cov_type='cluster', cov_kwds={'groups': df_final_copy['playercode']})

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               iscritto   R-squared:                       0.087
Model:                            OLS   Adj. R-squared:                  0.087
Method:                 Least Squares   F-statistic:                     258.7
Date:                Fri, 16 Jan 2026   Prob (F-statistic):          6.25e-159
Time:                        11:30:22   Log-Likelihood:                -7014.0
No. Observations:               53758   AIC:                         1.404e+04
Df Residuals:                   53750   BIC:                         1.412e+04
Df Model:                           7
Covariance Type:              cluster
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 0.2607      0.101      2.589      0.010       0.063       0.458
Rank                 -0.0005   1.78e-05    -25.641      0.000      -0.000      -0.000
TotPrizeMoney_log    -0.0050      0.008     -0.670      0.503      -0.020       0.010
Same_Nationality      0.6518      0.023     28.488      0.000       0.607       0.697
ha_pts_def            0.0051      0.002      2.070      0.038       0.000       0.010
Surface_Grass        -0.0059      0.007     -0.867      0.386      -0.019       0.007
Surface_Hard         -0.0009      0.006     -0.154      0.878      -0.012       0.010
EventType_500         0.0038      0.009      0.403      0.687      -0.015       0.022
==============================================================================
Omnibus:                    27550.612   Durbin-Watson:                   2.115
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           132979.171
Skew:                           2.608   Prob(JB):                         0.00
Kurtosis:                       8.672   Cond. No.                     2.04e+04
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)
[2] The condition number is large, 2.04e+04. This might indicate that there are
strong multicollinearity or other numerical problems.