In [48]:
import pandas as pd

year = 2025

df_tornei = pd.read_csv(f"tornei/tornei_{str(year)[-2:]}.csv")
df_iscrizioni = pd.read_csv(f"df_iscrizioni_player_event/df_{year}.csv")

# 1) Liste distinte
players = df_iscrizioni["PlayerCode"].dropna().unique()
events  = df_tornei["EventId"].dropna().unique()

# 2) Griglia completa (tutte le combinazioni player-event)
grid = (
    pd.MultiIndex.from_product([players, events], names=["PlayerCode", "EventId"])
      .to_frame(index=False)
)

# 3) Tieni solo le colonne chiave (una riga = "iscritto")
iscr_key = df_iscrizioni[["PlayerCode", "EventId"]].drop_duplicates()
iscr_key["iscritto"] = 1

# 4) Merge per marcare iscritti / non iscritti
out = grid.merge(iscr_key, on=["PlayerCode", "EventId"], how="left")
out["iscritto"] = out["iscritto"].fillna(0).astype(int)

# 5) Aggiungi info torneo (una sola volta)
out = out.merge(df_tornei, on="EventId", how="left")

display(out)

,PlayerCode,EventId,iscritto,year,date_tournament,EventName,EventType,EventCountry,Surface,TotPrizeMoney
0,s0re,747,1,2025,2025-09-22,Beijing,500,China,Hard,4016050
1,s0re,7581,1,2025,2025-09-15,Chengdu,250,China,Hard,1190210
2,s0re,336,1,2025,2024-12-30,Hong Kong,250,Hong Kong,Hard,680140
3,s0re,6242,0,2025,2025-08-18,Winston-Salem,250,"NC, U.S.A.",Hard,798335
4,s0re,319,0,2025,2025-07-21,Kitzbuhel,250,Austria,Clay,596035
...,...,...,...,...,...,...,...,...,...,...
16831,n0db,425,0,2025,2025-04-14,Barcelona,500,Spain,Clay,2889200
16832,n0db,337,0,2025,2025-10-20,Vienna,500,Austria,Hard,2736875
16833,n0db,8996,0,2025,2025-02-24,Santiago,250,Chile,Clay,680140
16834,n0db,717,0,2025,2025-03-31,Houston,250,"TX, U.S.A.",Clay,680140
16835,n0db,316,0,2025,2025-07-14,Bastad,250,Sweden,Clay,596035